<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Standalone Technologies</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
        <link rel='stylesheet' href='/stylesheets/theme.css'/>
        <link rel="stylesheet" href="/stylesheets/font-awesome.css">
        <script src="/javascripts/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="/javascripts/bootstrap.js"></script>
        <script src="/javascripts/client.js"></script>

    </head>