{{> header}}
<body class="">
    {{> customer_top_nav}}
    {{> customer_side_nav}}
    <div class="content">
        <div class="header">
            <h1 class="page-title">Invoice: View</h1>
        </div>
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">Billing<span class="divider">/</span></li>
            <li class="active">Invoices</li>
        </ul>
        <div class="container-fluid">
            <h2>Unauthorized Access</h2>
        </div>
    </div>
</div>
</div>
</body>
</html>