{{> header}}
<body class="">
    {{> customer_top_nav}}
    {{> customer_side_nav}}
    <div class="content">
        <div class="header">
            <h1 class="page-title">Profile: Password</h1>
        </div>
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">Profile<span class="divider">/</span></li>
            <li class="active">Password</li>
        </ul>
        <div class="container-fluid">
            {{#msg}}
                <b><div class="alert alert-info"><button type="button" class="close close_flag" data-dismiss="alert">×</button>{{msg}}</div></b>
            {{/msg}}
            {{#error}}
                <b><div class="alert alert-error"><button type="button" class="close close_flag" data-dismiss="alert">×</button>{{error}}</div></b>
            {{/error}}

            <div class="row-fluid">
                <div class="well">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane active in" id="home">
                            <form id="tab" action="/customer/profile/password" method="post">
                                <label>Current Password</label>
                                <input name="current_password" type="password" class="input-xlarge" required>
                                <label>New Password</label>
                                <input name="new_password" type="password"  class="input-xlarge" required>
                                <label>Confirm Password</label>
                                <input name="confirm_password" type="password"  class="input-xlarge" required>
                                <div class="btn-toolbar">
                                    <button type="submit" class="btn btn-primary"><i class="icon-save"></i> Save</button>
                                    <a href="/customer/profile/password" data-toggle="modal" class="btn">Cancel</a>
                                    <div class="btn-group"> </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="profile">
                            <form id="tab2">
                                <label>New Password</label>
                                <input type="password" class="input-xlarge">
                                <div>
                                    <button class="btn btn-primary">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>