{{> header}}
<body class="">
    {{> customer_top_nav}}
    {{> customer_side_nav}}
    <div class="content">
        <div class="header">
            <h1 class="page-title">View Support Ticket</h1>
        </div>
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li><a href="/customer/support/tickets/view">Suport</a><span class="divider">/</span></li>
            <li class="active">Ticket</li>
        </ul>
        <div class="container-fluid">
            <div class="row-fluid">
                <div style="float: left; width: 130px; margin-left: 15px;">
                    <div >
                        <h4>User</h4>
                        <p>{{ticket.name}}<br/>
                        ({{ticket.username}})</p>
                        <h4>Department</h4>
                        <p>{{ticket.department}}<br/>
                        <h4>Posted</h4>
                        <p>{{ticket.date}}<br/>
                        <h4>Status</h4>
                        <p>{{ticket.status}}<br/>
                        <h4>Last Updated</h4>
                        <p>{{ticket.updated.time}}<br/><br/>
                        <button class="btn btn-primary ticket reply" {{button_control}}>Reply</button>
                    </div>
                </div>
                <div class="span9">
                    <div class="block">
                        <p class="block-heading">Posted by {{ticket.name}} ({{ticket.role}}) {{ticket.date}}</p>
                        <div class="block-body">
                            {{{ticket.message}}}
                        </div>
                    </div>
                    {{#ticket.replies}}
                    <div class="block">
                        <p class="block-heading">Posted by {{name}} ({{role}}) {{date}}</p>
                        <div class="block-body">
                            {{{message}}}
                        </div>
                    </div>
                    {{/ticket.replies}}
                    <div id="ticket_reply" class="block">
                        <p class="block-heading">Post Reply</p>
                        <div class="block-body">
                            <form action="/customer/support/ticket/{{ticket._id}}/reply" method="post">
                                <label>Username</label>
                                <input type="text" name="username" value="{{username}}" class="input-xlarge" readonly>
                                <label>Name</label>
                                <input type="text" name="name" class="input-xlarge" required>

                                <label>Message</label>
                                <textarea name="message"  style="width: 80%; height: 200px;" class="input-xlarge" required></textarea>

                                <br/>
                                <button type="submit" class="btn btn-primary"></i>Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>